:root {
  --main-color: #ff596a;
  --chart-grey: #444444;
  --secondary-color: #4848ef;
  --grey: #e6e6e6;
  --header-height: 5rem;
  --shadow-offset: 2px;
  --base-shadow: var(--shadow-offset) var(--shadow-offset) 0 0 grey;

  font-size: 10px;
}

body {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

h1 {
  font-size: 1.7rem;
  font-weight: 700;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  white-space: nowrap;
}

header > h1 > i {
  font-size: 0.8em;
  text-decoration: overline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

fieldset {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  padding: 0;
  gap: 0.5rem;
  border: none;
  color: var(--secondary-color);
}

fieldset:focus-within {
  color: var(--main-color);
}

label {
  color: inherit;
  position: relative;
  font-size: 1rem;
}

*[data-error="true"] > label {
  color: red;
}

*[data-error="true"] > label::after {
  content: "!";
  position: absolute;
  top: -2px;
  left: 104%;
  border: 1px solid red;
  border-radius: 50%;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.7);
}

input {
  border: 2px dotted var(--secondary-color);
  padding: 1rem;
  outline: none;
  transition: all 100ms;
}

input:focus {
  border-color: var(--main-color);
  transform: scale(1.05);
}

*[data-error="true"] > input {
  border-color: red;
}

button {
  border: none;
  transition: all 100ms;
  box-shadow: var(--base-shadow);
  cursor: pointer;
}

button[type="submit"] {
  background-color: var(--main-color);
  color: white;
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

button[disabled] {
  background-color: #eca6ad;
}
